<div class="image_background">

    <app-header></app-header>

    <br><br>
    <h2 class="title">Percepción de Estudiantes</h2>

    <form [formGroup]="formFileDes" autocomplete="off" class="md-form">
        <mat-toolbar-row>
            <mat-form-field id="sGrade">
                <mat-label>Grado</mat-label>
                <mat-select (selectionChange)="selectGrade()" [(ngModel)]="gradeSelected" formControlName="gradeSel">
                    <mat-option *ngFor="let grade of grades" [value]="grade.value">
                        {{grade.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field id="sGroup">
                <mat-label>Grupo</mat-label>
                <mat-select [(ngModel)]="groupSelected" formControlName="groupSel">
                    <mat-option *ngFor="let group of groups" [value]="group.value" (click)="searchStudents()">
                        {{group.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </mat-toolbar-row>
    </form>

    <br>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Percepción General">
            <br>
            <div id="grup">
                <app-feeling-group [grade]="this.gradeSelected" [group]="this.groupSelected" [dataGeneral]="this.dataGeneral"></app-feeling-group>
            </div>
        </mat-tab>


        <mat-tab label="Percepción Individual">
            <br>
            <div id="indiv">
                <app-feeling-individual [grade]="this.gradeSelected" [group]="this.groupSelected" [dataGeneral]="this.dataGeneral"></app-feeling-individual>
            </div>
        </mat-tab>

    </mat-tab-group>

</div>