<div id="content">
    <h4 id="nameStudent">{{student|uppercase}}</h4><br>
    <!--formulario para registrar las calificaciones de un alumno-->
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div id="titExp">Apoyos registrados</div>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- <cdk-virtual-scroll-viewport itemSize="5"> -->
            <div class="advicesList">
                <div *ngFor="let advice of studentAdviceW">
                    <b>Consejo dado por: {{advice.nameProfesor}} a las {{advice.hour}} del {{advice.date}}</b>
                    <p>{{advice.advice}}</p>
                </div>
            </div>
            <!-- </cdk-virtual-scroll-viewport> -->

        </mat-expansion-panel>

    </mat-accordion>
    <br>
    <form [formGroup]="formFile" id="formA">

        <input matInput type="text" formControlName="nameStud" hidden>
        <input matInput type="text" formControlName="dateRStud" hidden>
        <input matInput type="text" formControlName="hourRStud" hidden>
        <input matInput type="text" formControlName="statusT" hidden>


        <a *ngIf="bSP" id="bsPS">El estudiante desactivo los consejos entrantes</a>

        <div *ngIf="status!=0">
            <mat-form-field class="inp">
                <textarea matInput id="textAreaAdvice" [(ngModel)]="textAreaReminder" placeholder="Ingresa algún consejo a brindar" formControlName="adviceContent"></textarea>
            </mat-form-field>
            <p></p>

        </div>
        <div id="botons">
            <button (click)="onClickNo()" id="btnCancel" *ngIf="status==1">Cancelar</button>
            <button (click)="onClickNo()" id="btnCancel2" *ngIf="status==0">OK</button>&nbsp;&nbsp;
            <button type="submit" [disabled]="formFile.invalid" [mat-dialog-close]="formFile.value" id="btnReg" *ngIf="textAreaReminder != ''">Registrar</button>
        </div>
    </form>

</div>