<div class="image_background">
    <app-header></app-header>

    <br><br>
    <p class="title">Progreso en clases</p>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Progreso General">
            <br>
            <div>
                <div>
                    <div style="display: block">
                        <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions" [colors]="radarChartColors" [labels]="radarChartLabels" [chartType]="radarChartType">
                    </canvas>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Progreso Individual">
            <br>
            <div id="selectorStudent">
                <mat-toolbar-row>
                    <mat-form-field id="listSubjects">
                        <mat-label>Materia</mat-label>
                        <mat-select (selectionChange)="grapScoreIndividuals()" [(ngModel)]="listSubjects">
                            <mat-option *ngFor="let s of arrScores" [value]="s.nameSubject">
                                {{s.nameSubject}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-toolbar-row>
            </div>

            <br>

            <table id="tableI">
                <tr>
                    <td id="obsI">
                        <br>
                        <div id="contentObs">
                            <h4>Observaciones:</h4>
                            <br>
                            <p *ngIf="this.statusSubject!=''" id="tNotScore">{{statusSubject}}</p>
                            <div *ngIf="this.statusSubject=='' && this.listSubjects">
                                <h5><b>Promedio:</b></h5>
                                <p>{{averageInd}}</p>
                                <h5><b>Calificación más alta:</b></h5>
                                <p>{{betterInd}}</p>
                                <h5><b>Calificación más baja:</b></h5>
                                <p>{{worstInd}}</p>
                                <br>
                                <p id="msgObs">{{msgObs}}</p>
                            </div>
                        </div>
                    </td>
                    <td id="graphS">
                        <div class="flex">
                            <div class="flex-item">
                                <div style="display: block;">
                                    <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [colors]="lineChartColors" [options]="lineChartOptions" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </mat-tab>
    </mat-tab-group>

</div>