<div class="image_background">

    <app-header></app-header>

    <!--para filtrar los datos y alumnos a calificar por grado, grupo y materia-->
    <p class="title">Registrar Calificaciones</p>
    <br>
    <div class="centrado2">
        <mat-toolbar-row>
            <mat-form-field class="gGR">
                <mat-label>Grado</mat-label>
                <mat-select (selectionChange)="searchStudents()" [(ngModel)]="gradeSelected">
                    <mat-option *ngFor="let grade of grades" [value]="grade.value">
                        {{grade.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="gGR">
                <mat-label>Grupo</mat-label>
                <mat-select (selectionChange)="searchStudents()" [(ngModel)]="groupSelected">
                    <mat-option *ngFor="let group of groups" [value]="group.value">
                        {{group.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="gGR">
                <mat-label>Materia</mat-label>
                <mat-select (selectionChange)="searchStudents()" [(ngModel)]="materiaSelected">
                    <mat-option *ngFor="let subject of subjects" [value]="subject.value">
                        {{subject.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </mat-toolbar-row>
        <br>
        <div *ngIf="this.gradeSelected && this.groupSelected && this.materiaSelected" id="contentSelR">
            <mat-toolbar-row id="selrepSemester">
                <mat-form-field id="repSemester">
                    <mat-label>Reportar hasta el bimestre:</mat-label>
                    <mat-select (selectionChange)="bimReport()" [(ngModel)]="bimRepSelected">
                        <mat-option *ngFor="let bim of bimReportArray" [value]="bim">
                            {{bim}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-toolbar-row>
        </div>
    </div>
    <!--/Buscador-->


    <br><br>

    <!-- tabla de alumnos -->
    <div class="example-container centrado">
        <mat-table mat-table [dataSource]="dataSourceScores" matSort style="max-height: 300px;">

            <!-- Name Column -->
            <ng-container matColumnDef="nameStudent">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row"> {{row.nameStudent}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <!-- B1 Column -->
            <ng-container matColumnDef="b1">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Bimestre 1 </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.b1}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <!-- B1 Column -->
            <ng-container matColumnDef="b2">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Bimestre 2 </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.b2}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <!-- B1 Column -->
            <ng-container matColumnDef="b3">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Bimestre 3 </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.b3}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <!-- B1 Column -->
            <ng-container matColumnDef="b4">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Bimestre 4 </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.b4}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <!-- B5 Column -->
            <ng-container matColumnDef="b5">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Bimestre 5 </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.b5}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>


            <!-- Set Score Column -->
            <ng-container matColumnDef="calificar">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
                <mat-cell *matCellDef="let row"> <button mat-raised-button class="btn btn-info" (click)="setScores(row)" *ngIf="materiaSelected" id="btnSetScore"> Calificar</button> </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>

            <mat-footer-row mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="example-first-footer-row"></mat-footer-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <!-- /tabla de alumnos -->



</div>