.mat-toolbar-row,
#sStudent {
    justify-content: center;
    text-align: center;
}

#graphS {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* background: red; */
}