.image_background {
    position: absolute !important;
    top: 0px !important;
    bottom: 0px !important;
    width: 100vw !important;
    height: 100vh !important;
    padding: 0px !important;
    max-width: 100vw;
    max-height: 100vh;
    background-image: url('/assets/pictures/fondoInicio.png');
    background-size: cover;
    background-position: center;
    overflow: auto;
}

.background_login {
    width: 605px;
    max-width: 605px;
    height: auto;
    position: absolute;
    top: 17%;
    margin-left: 31%;
    font-size: 18px;
    background-color: rgb(69, 73, 85, .35)
}

.input_login {
    text-indent: 7px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    margin-bottom: 45px;
    background-color: #3A445D;
    color: rgb(221, 215, 215);
    max-width: 505px;
    width: 70%;
    height: 70px;
    max-height: 100px;
    z-index: 1;
    /* border: .1px; */
    border-width: 1px;
    text-align: center;
    border-color: black;
}

.input_login::placeholder {
    color: rgb(221, 215, 215);
    text-align: center;
}

.centrado {
    text-align: center;
}

.circulo_login {
    margin-left: auto;
    margin-right: auto;
    background-image: url('/assets/pictures/avatar1.png');
    width: 125px;
    height: 120px;
    border-radius: 100%;
    margin-bottom: 45px;
    margin-top: 15px;
}

#principal-box {
    border-radius: 10%;
}

.button_login {
    background-color: #3A445D;
    color: white;
    border-color: black;
    max-height: 100px;
    z-index: 1;
    height: 60px;
    width: 250px;
    max-width: 250px;
    font-size: 18px;
}

.button_login:hover {
    background: #162138;
}

.button_nocss {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    /* for button */
    -webkit-appearance: button;
    /* for input */
    -moz-user-select: none;
    -ms-user-select: none;
}

.input_login:focus {
    outline: none;
    box-shadow: 4px 4px 7px #777777;
}

@media screen and (max-width: 505px) {
    .background_login,
    .input_login {
        top: 10%;
        width: 100%;
        margin-top: 0;
        text-align: center;
    }
}

.startSession:hover {
    color: #47649D;
}

.tituloIS {
    margin-bottom: 5%;
    color: #3A445D;
}

.titleP {
    text-align: center;
    margin-left: 42.3%;
}

.logoP {
    width: 21%;
    height: 14.5%;
}

.mat-form-field {
    font-size: 14px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    text-align: center;
}

.mat-form-field-label {
    text-align: center;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background: #3A445D;
    text-align: center;
}

.mat-focused .mat-form-field-label {
    color: #3A445D !important;
    text-align: center;
}

#email,
#password {
    text-align: center;
}

.optionsBottom {
    color: black;
    margin-top: 5px;
    font-size: 15px;
}