<div class="image_background">

    <app-header></app-header>

    <br><br>

    <p class="title">Control de Tareas</p>

    <div class="centrado2">
        <br>
        <!-- <h3>Seleccionar materia:</h3> -->

        <form [formGroup]="formFileDes" autocomplete="off" (ngSubmit)="listarHomeworksSelGradGrupMat()" class="md-form">

            <mat-toolbar-row>
                <mat-form-field id="sGrade">
                    <mat-label>Grado</mat-label>
                    <mat-select (selectionChange)="searchHomewoksGrade()" [(ngModel)]="gradeSelected" formControlName="gradeSel">
                        <mat-option *ngFor="let grade of grades" [value]="grade.value">
                            {{grade.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field id="sGroup">
                    <mat-label>Grupo</mat-label>
                    <mat-select (selectionChange)="searchHomewoksGroup()" [(ngModel)]="groupSelected" formControlName="groupSel">
                        <mat-option *ngFor="let group of groups" [value]="group.value">
                            {{group.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field id="sMateria">
                    <mat-label>Materia</mat-label>
                    <mat-select (selectionChange)="searchHomewoksSubject()" [(ngModel)]="subjectSelected" formControlName="subjectSel">
                        <mat-option *ngFor="let subject of subjects" [value]="subject">
                            {{subject}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-toolbar-row>
            <br>

            <mat-toolbar-row class="selHomeworkId">
                <mat-form-field id="sHomework">
                    <mat-label>Tarea seleccionada</mat-label>
                    <mat-select (selectionChange)="searchHomewoks()" [(ngModel)]="homeworkSelected" formControlName="homeworkSel">
                        <mat-option *ngFor="let homework of homeworks" [value]="homework.id">
                            {{homework.theme}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </mat-toolbar-row>
        </form>
    </div>

    <br><br>

    <!------------------------------------------>
    <div class="detailsHomeworkSel" *ngIf="homeworkSelected!=null || homeworkSelected">
        <h4><b>Detalles de la tarea:</b></h4><br>
        <p><b>Fecha y hora limite de entrega: </b>{{dateHourLimit}}</p>
        <p><b>Descripción: </b>{{description}}</p>
        <p><b>Estatus: </b>{{statusH}}</p>

    </div>

    <br><br>
    <div class="example-container centrado">
        <mat-table mat-table [dataSource]="dataSourceHomeworks" matSort>

            <!-- Name NOMBRE -->
            <ng-container matColumnDef="nameStudent">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Alumno </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let row"> {{row.nameStudent}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <!-- Grade REMITENTE -->
            <ng-container matColumnDef="details">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </mat-header-cell>
                <mat-cell *matCellDef="let row"> <button mat-raised-button class="btn btn-info" (click)="viewDetails(row)" id="btnSetScore"> Ver detalles</button> </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <!-- ID LINK -->
            <ng-container matColumnDef="link">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Link </mat-header-cell>
                <mat-cell *matCellDef="let row"> <a href="{{row.url}}" class="linkFileD" target="_blank" *ngIf="row.url != '-'">IR</a> </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>
            <!-- STATUS -->
            <ng-container matColumnDef="status">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a id="status0" *ngIf="row.status=='0'" title="No entregada">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <a id="status1" *ngIf="row.status=='1'" title="Entregada a tiempo">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <a id="status2" *ngIf="row.status=='2'" title="Entregada fuera de tiempo">&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <!-- FEEDBACK -->
            <ng-container matColumnDef="feedback">
                <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Retroalimentación </mat-header-cell>
                <mat-cell *matCellDef="let row" id="btnFeedBack"> <button mat-raised-button class="btn btn-info" (click)="viewFeedbackH(row)" id="btnFeedback"> <a *ngIf="row.statusFeedback == '0'">No retroalimentada</a> <a *ngIf="row.statusFeedback == '1'">Si retroalimentada</a> </button> </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumnsHomework; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsHomework;">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <br><br>
    <!------------------------------------------>