<div class="contenedor">

    <div class="centrado2">
        <h4><b>Retroalimentación para {{nameStudent}}</b></h4>

        <div *ngIf="statusFeedback=='1'">
            <hr>
            <h5><b>Link tarea: &nbsp;&nbsp;</b>
                <a href="{{fileUrl}}" class="linkFileD" target="_blank" *ngIf="fileUrl != ''">&nbsp;IR &nbsp;</a>
                <a *ngIf="fileUrl == ''">No se ha subido archivo alguno</a>
            </h5>
            <h5><b>Comentario de retroalimentación:</b> {{feedbackComment}} </h5>
            <hr>
        </div>

        <!--formulario para enviar nuevos archivos-->
        <form [formGroup]="formFileSend" autocomplete="off" (ngSubmit)="subirArchivo()" class="md-form">
            <br>
            <p></p>
            <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
            <p></p>
            <br>
            <mat-form-field class="contentMsg">
                <textarea matInput formControlName="FeedbackComment" [(ngModel)]="feedbackCommentA" placeholder="Ingresa opcionalmente una descripción del archivo a enviar"></textarea>
            </mat-form-field>
            <br>
            <button [disabled]="!formFileSend.valid" *ngIf="(feedbackCommentA!=null && feedbackCommentA!='') || archivo!=null" class="uploadFileBtn">Subir retroalimentación</button>
        </form>
    </div>

</div>