/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* body {
    background-image: url('/assets/pictures/fondoInicio.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F0F2F6;
    height: 100vh !important;
} */