<div class="image_background centrado">

    <!--CREANDO MENU DE CERRAR SESION DESDE EL MENU PRINCIPAL-->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand">
            <img src="/assets/pictures/logo_ChatbotCinves.png" alt="logoChat" class="logoP" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a *ngIf="existUser" class="nav-item nav-link" id="exitAccount" (click)="exitAcount()"> Cerrar sesión</a>
            </div>
        </div>
    </nav>


    <img *ngIf="status==true" src="../assets/pictures/avatar1.png" id="avatar" title="{{'Hola '+name}}" (click)="goConfigureAccount()" />


    <!--TERMINANDO EL MENU DE CERRAR SESION DESDE EL MENU PRINCIPAL-->


    <h1 *ngIf="typeMenu=='Profesor' && status!=true" class="title_menu_profesor">Bienvenido profesor {{name}}</h1>
    <h1 *ngIf="typeMenu=='Alumno' && status!=true" class="title_menu_profesor">Bienvenido alumno {{name}}</h1>
    <h1 *ngIf="typeMenu=='Administrador' && status!=true" class="title_menu_profesor">Bienvenido Administrador {{name}}</h1>
    <h2 *ngIf="status!=true">Espera a que tu cuenta sea activada por el administrador</h2>

    <div class="background_menu">

        <!-- Boton para ver archivos -->
        <div *ngIf="(typeMenu=='Profesor' || typeMenu== 'Alumno') && status==true" class=" horizontal" style="margin-left: 4%;">
            <img src="../assets/pictures/archivos_mensajes.png" (click)="goToGeneralFiles()" id="archivos_mensajesI">
        </div>
        <!-- /Boton para ver archivos -->

        <!-- Boton para entrar al chatbot -->

        <div *ngIf="(typeMenu=='Profesor' || typeMenu== 'Alumno') && status==true" class="horizontal">
            <img src="../assets/pictures/chatbot.png" (click)="goToChatbot()" id="chatbotI">
        </div>
        <!-- /Boton para entrar al chatbot -->

        <!-- Boton para ver alumnos desde el profesor-->
        <div *ngIf="typeMenu=='Profesor' && status==true" class="horizontal">
            <img src="../assets/pictures/calificaciones.png" (click)="goToScoresUsers()" id="calificacionesI">
        </div>
        <!-- /Boton para ver alumnos desde el profesor-->

        <!-- Boton para ver alumnos como administrador-->
        <div *ngIf="typeMenu=='Administrador' && status==true" class="horizontal">
            <img src="../assets/pictures/usuarios.png" (click)="goToValidateUsers()" id="usuariosI">
        </div>
        <!-- Boton para ver alumnos como administrador-->

        <!-- Boton para ver materias-->
        <div *ngIf="typeMenu=='Administrador' && status==true" class="horizontal">
            <img src="../assets/pictures/gruposAlumnosClases.png" (click)="goToMaterias()" id="gruposAlumnosClasesI">
        </div>
        <!-- /Boton para ver materias-->

        <!-- Boton para ver alumnos como administrador-->
        <div *ngIf="typeMenu=='Administrador' && status==true" class="horizontal">
            <img src="../assets/pictures/avisos.png" (click)="goToRecordatorios()" id="avisosI">
        </div>
        <!-- Boton para ver alumnos como administrador-->

    </div>

    <app-abc></app-abc>
</div>