<div class="image_background centrado">

    <!--CREANDO MENU DE CERRAR SESION DESDE EL MENU PRINCIPAL-->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand">
            <img src="/assets/pictures/logo_ChatbotCinves.png" alt="logoChat" class="logoP" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a *ngIf="existUser" class="nav-item nav-link" id="exitAccount" (click)="exitAcount()"> Cerrar sesión</a>
            </div>
        </div>
    </nav>


    <img *ngIf="status==true" src="../assets/pictures/avatar1.png" id="avatar" title="{{'Hola '+name}}" (click)="goConfigureAccount()" />


    <!--TERMINANDO EL MENU DE CERRAR SESION DESDE EL MENU PRINCIPAL-->


    <h1 *ngIf="typeMenu=='Profesor' && status!=true" class="title_menu_profesor">Bienvenido profesor {{name}}</h1>
    <h1 *ngIf="typeMenu=='Alumno' && status!=true" class="title_menu_profesor">Bienvenido alumno {{name}}</h1>
    <h1 *ngIf="typeMenu=='Administrador' && status!=true" class="title_menu_profesor">Bienvenido Administrador {{name}}</h1>
    <h2 *ngIf="status!=true">Espera a que tu cuenta sea activada por el administrador</h2>

    <div class="background_menu">

        <!-- Boton para ver archivos -->
        <div *ngIf="(typeMenu=='Profesor' || typeMenu== 'Alumno') && status==true" id="archivos_mensajesI">
            <img src="../assets/pictures/archivos_mensajes.png" (click)="goToGeneralFiles()">
        </div>
        <!-- /Boton para ver archivos -->

        <!-- Boton para entrar al chatbot -->
        <div *ngIf="(typeMenu=='Profesor' || typeMenu== 'Alumno') && status==true" id="chatbotI">
            <img src="../assets/pictures/chatbot.png" (click)="goToChatbot()">
        </div>
        <!-- /Boton para entrar al chatbot -->

        <!-- Boton para entrar al progreso de estudiantes -->
        <div *ngIf="(typeMenu== 'Alumno') && status==true" id="progressStudentI">
            <img src="../assets/pictures/progresoEstudiante.png" (click)="goToProgressStudent()">
        </div>
        <!-- /Boton para entrar al chatbot -->

        <!-- Boton para ver alumnos desde el profesor-->
        <div *ngIf="typeMenu=='Profesor' && status==true" id="calificacionesI">
            <img src="../assets/pictures/calificaciones.png" (click)="goToScoresUsers()">
        </div>
        <!-- /Boton para ver alumnos desde el profesor-->

        <!-- Boton para ver alumnos como administrador-->
        <div *ngIf="typeMenu=='Administrador' && status==true" id="usuariosI">
            <img src="../assets/pictures/usuarios.png" (click)="goToValidateUsers()">
        </div>
        <!-- Boton para ver alumnos como administrador-->

        <!-- Boton para ver materias-->
        <div *ngIf="typeMenu=='Administrador' && status==true" id="gruposAlumnosClasesI">
            <img src="../assets/pictures/alumnosClases.png" (click)="goToMaterias()">
        </div>
        <!-- /Boton para ver materias-->

        <!-- Boton para ver grupos-->
        <div *ngIf="typeMenu=='Administrador' && status==true" id="clasesG">
            <img src="../assets/pictures/clasesG.png" (click)="goToClases()">
        </div>
        <!-- /Boton para ver grupos-->

        <!-- Boton para ver alumnos como administrador-->
        <div *ngIf="typeMenu=='Administrador' && status==true" id="avisosI">
            <img src="../assets/pictures/avisos.png" (click)="goToRecordatorios()">
        </div>
        <!-- Boton para ver alumnos como administrador-->

        <!-- Boton para entrar al progreso de estudiantes -->

        <div *ngIf="(typeMenu=='Profesor') && status==true" id="progressClassI">
            <img src="../assets/pictures/progresoGrupos.png" (click)="goToProgressGroup()">
        </div>

        <!-- Boton para entrar a las tareas de estudiantes -->
        <div *ngIf="(typeMenu=='Profesor') && status==true" id="homeworksI">
            <img src="../assets/pictures/tareas.png" (click)="goToHomeworks()">
        </div>
        <!-- Boton para entrar a las tareas de estudiantes -->

        <!-- Boton para entrar a las tarea de un estudiante -->
        <div *ngIf="(typeMenu== 'Alumno') && status==true" id="homeworksStudentI">
            <img src="../assets/pictures/tareas.png" (click)="goToHomeworkStudent()">
        </div>
        <!-- Boton para entrar a las tarea de un estudiante-->

        <!-- Boton para entrar a las tareas de estudiantes -->
        <div *ngIf="(typeMenu=='Profesor' || typeMenu=='Administrador') && status==true" id="feelingsI">
            <img src="../assets/pictures/feeling.png" (click)="goToFeelings()">
        </div>
        <!-- Boton para entrar a las tareas de estudiantes -->


        <!-- Boton para entrar a las dudas de estudiantes -->
        <div *ngIf="(typeMenu=='Profesor') && status==true" id="DoubtsI">
            <img src="../assets/pictures/dudas.png" (click)="goToDoubts()">
        </div>
        <!-- Boton para entrar a las dudas de estudiantes -->


    </div>

    <div class="foot">
        <!-- <app-abc></app-abc> -->
    </div>
</div>