/* pc */

@media screen and (max-width: 2500px) {
    #topM {
        width: 100%;
        height: 12%;
        display: flex;
    }
    #topI {
        width: 100%;
        height: 88%;
    }
    #logoC {
        width: 50%;
        height: 100%;
        margin-top: 0px;
    }
    #avatarCloseSes {
        width: 50%;
        height: 100%;
        margin-top: 0px;
        padding-right: 1%;
    }
    .logoP {
        top: 10%;
        width: 45%;
        height: 80%;
    }
    .navbar-nav {
        float: right;
        font-size: 16px;
        width: 15%;
    }
    #jump {
        display: none;
    }
    #exitAccount {
        cursor: pointer;
    }
    #exitAccount:hover {
        color: hsl(357, 67%, 34%);
        border-bottom-style: solid;
        border-bottom-color: hsl(357, 63%, 87%);
    }
    #exitAccount {
        transition: color 0.2s linear 0.2s;
    }
    #avatar {
        max-width: 50px!important;
        max-height: 50px!important;
        border-radius: 100%;
        cursor: pointer;
        margin-top: 0%;
        margin-right: 2%;
        float: right;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(83, 83, 90);
    }
    .navbar {
        margin-bottom: 0%;
    }
    .background_menu {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        /* justify-content: space-around; */
        display: inline-block;
    }
    #archivos_mensajesI,
    #progressStudentI,
    #calificacionesI,
    #usuariosI,
    #gruposAlumnosClasesI,
    #clasesG,
    #avisosI,
    #progressClassI,
    #homeworksI,
    #homeworksStudentI,
    #chatbotI,
    #DoubtsI,
    #feelingsI {
        width: 15%;
        height: 25%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        display: inline-block;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s linear 0.4s;
        margin-left: 3%;
        margin-right: 3%;
    }
    img:hover {
        opacity: 0.4;
        cursor: pointer;
    }
    .centrado {
        text-align: center;
    }
    .title_menu_profesor {
        text-transform: uppercase;
        font-family: "Segoe UI";
        color: rgb(33, 16, 95);
        font-size: 60px;
        margin: 5%;
    }
    .foot {
        position: fixed;
        bottom: 0;
        z-index: 999999;
    }
}


/* tab */

@media screen and (max-width: 1305px) and (max-height: 780px) {
    #topM {
        width: 100%;
        height: 12%;
        display: flex;
    }
    #topI {
        width: 100%;
        height: 88%;
    }
    #logoC {
        width: 50%;
        height: 100%;
        margin-top: 0px;
    }
    #avatarCloseSes {
        width: 50%;
        height: 100%;
        margin-top: 0px;
        /* padding-right: 1%; */
    }
    .logoP {
        top: 10%;
        width: 45%;
        height: 80%;
    }
    .navbar-nav {
        float: right;
        font-size: 10px;
        width: 20%;
        /* margin-right: 1%; */
        /* background: red; */
    }
    /* #jump {
        display: none;
    } */
    #exitAccount {
        cursor: pointer;
    }
    #exitAccount:hover {
        color: hsl(357, 67%, 34%);
        border-bottom-style: solid;
        border-bottom-color: hsl(357, 63%, 87%);
    }
    #exitAccount {
        transition: color 0.2s linear 0.2s;
    }
    #avatar {
        max-width: 30px!important;
        max-height: 30px!important;
        border-radius: 100%;
        cursor: pointer;
        margin-top: 0%;
        margin-right: 4%;
        float: right;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(83, 83, 90);
    }
    .navbar {
        margin-bottom: 0%;
    }
    .background_menu {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        /* justify-content: space-around; */
        display: inline-block;
    }
    #archivos_mensajesI,
    #progressStudentI,
    #calificacionesI,
    #usuariosI,
    #gruposAlumnosClasesI,
    #clasesG,
    #avisosI,
    #progressClassI,
    #homeworksI,
    #homeworksStudentI,
    #chatbotI,
    #DoubtsI,
    #feelingsI {
        width: 15%;
        height: 18%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        display: inline-block;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s linear 0.4s;
        margin-left: 3%;
        margin-right: 3%;
    }
    img:hover {
        opacity: 0.4;
        cursor: pointer;
    }
    .centrado {
        text-align: center;
    }
    .title_menu_profesor {
        text-transform: uppercase;
        font-family: "Segoe UI";
        color: rgb(33, 16, 95);
        font-size: 60px;
        margin: 5%;
    }
    .foot {
        position: fixed;
        bottom: 0;
        z-index: 999999;
    }
}


/* cellphone */

@media screen and (max-width: 479px) and (max-height: 700px) {
    #topM {
        width: 100%;
        height: 12%;
        display: flex;
    }
    #topI {
        width: 100%;
        height: 88%;
    }
    #logoC {
        width: 50%;
        height: 100%;
        margin-top: 0px;
    }
    #avatarCloseSes {
        width: 50%;
        height: 100%;
        margin-top: 0px;
        padding-right: 1%;
    }
    .logoP {
        top: 10%;
        width: 45%;
        height: 80%;
    }
    .navbar-nav {
        float: right;
        font-size: 10px;
        width: 48%;
        /* margin-right: 1%; */
        /* background: red; */
    }
    /* #jump {
        display: none;
    } */
    #exitAccount {
        cursor: pointer;
    }
    #exitAccount:hover {
        color: hsl(357, 67%, 34%);
        border-bottom-style: solid;
        border-bottom-color: hsl(357, 63%, 87%);
    }
    #exitAccount {
        transition: color 0.2s linear 0.2s;
    }
    #avatar {
        max-width: 30px!important;
        max-height: 30px!important;
        border-radius: 100%;
        cursor: pointer;
        margin-top: 0%;
        margin-right: 4%;
        float: right;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(83, 83, 90);
    }
    .navbar {
        margin-bottom: 0%;
    }
    .background_menu {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        /* justify-content: space-around; */
        display: inline-block;
    }
    #archivos_mensajesI,
    #progressStudentI,
    #calificacionesI,
    #usuariosI,
    #gruposAlumnosClasesI,
    #clasesG,
    #avisosI,
    #progressClassI,
    #homeworksI,
    #homeworksStudentI,
    #chatbotI,
    #DoubtsI,
    #feelingsI {
        width: 15%;
        height: 18%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        display: inline-block;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s linear 0.4s;
        margin-left: 3%;
        margin-right: 3%;
    }
    img:hover {
        opacity: 0.4;
        cursor: pointer;
    }
    .centrado {
        text-align: center;
    }
    .title_menu_profesor {
        text-transform: uppercase;
        font-family: "Segoe UI";
        color: rgb(33, 16, 95);
        font-size: 60px;
        margin: 5%;
    }
    .foot {
        position: fixed;
        bottom: 0;
        z-index: 999999;
    }
}


/* cellphone r*/

@media screen and (max-width: 700px) and (max-height: 479px) {
    #topM {
        width: 100%;
        height: 12%;
        display: flex;
    }
    #topI {
        width: 100%;
        height: 88%;
    }
    #logoC {
        width: 50%;
        height: 100%;
        margin-top: 0px;
    }
    #avatarCloseSes {
        width: 50%;
        height: 100%;
        margin-top: 0px;
        padding-right: 1%;
    }
    .logoP {
        top: 10%;
        width: 45%;
        height: 80%;
    }
    .navbar-nav {
        float: right;
        font-size: 10px;
        width: 20%;
        margin-right: 1%;
    }
    #jump {
        display: none;
    }
    #exitAccount {
        cursor: pointer;
    }
    #exitAccount:hover {
        color: hsl(357, 67%, 34%);
        border-bottom-style: solid;
        border-bottom-color: hsl(357, 63%, 87%);
    }
    #exitAccount {
        transition: color 0.2s linear 0.2s;
    }
    #avatar {
        max-width: 38px!important;
        max-height: 38px!important;
        border-radius: 100%;
        cursor: pointer;
        margin-top: 0%;
        margin-right: 2%;
        float: right;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(83, 83, 90);
    }
    .navbar {
        margin-bottom: 0%;
    }
    .background_menu {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3%;
        /* justify-content: space-around; */
        display: inline-block;
    }
    #archivos_mensajesI,
    #progressStudentI,
    #calificacionesI,
    #usuariosI,
    #gruposAlumnosClasesI,
    #clasesG,
    #avisosI,
    #progressClassI,
    #homeworksI,
    #homeworksStudentI,
    #chatbotI,
    #DoubtsI,
    #feelingsI {
        width: 15%;
        height: 25%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
        display: inline-block;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s linear 0.4s;
        margin-left: 3%;
        margin-right: 3%;
    }
    img:hover {
        opacity: 0.4;
        cursor: pointer;
    }
    .centrado {
        text-align: center;
    }
    .title_menu_profesor {
        text-transform: uppercase;
        font-family: "Segoe UI";
        color: rgb(33, 16, 95);
        font-size: 60px;
        margin: 5%;
    }
    .foot {
        position: fixed;
        bottom: 0;
        z-index: 999999;
    }
}