<table id="tableI">
    <tr>
        <td id="listStudents">
            <h4 class="subT">Conteo de sentimientos de alumnos expresados al chatbot</h4>
            <div class="chart">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [colors]="pieChartColors">
            </canvas>
            </div>
        </td>
        <td id="graphS">
            <div id="graDon">
                <h4 class="subT">Conteo de alumnos que expresaron o no sus sentimientos al chatbot</h4>
                <div style="display: block">
                    <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="doughnutChartColors" [legend]="doughnutChartLegend">
                </canvas>
                </div>
            </div>
        </td>
    </tr>
</table>

<br><br>
<div>
    <div id="chaPas">

    </div>
</div>

<br><br>

<mat-accordion *ngIf="typeU !='Administrador'">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">

        <mat-expansion-panel-header>
            <mat-panel-title>
                <div id="titExp"><b>Historico</b></div>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="example-container centrado">

            <mat-table mat-table [dataSource]="dataSourceScoresH" matSort>
                <!-- fecha Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header><b> Fecha </b></mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <!-- hora Column -->
                <ng-container matColumnDef="hour">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header><b> Hora </b></mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.hour}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <!-- nombre estudiante Column -->
                <ng-container matColumnDef="nameStudent">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header><b> Alumno </b></mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"> {{row.nameStudent}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <!-- sentimiento Column -->
                <ng-container matColumnDef="feelR">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header><b> Sentimiento </b></mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.feelR}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsH; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsH;">
                </mat-row>

                <mat-footer-row mat-footer-row *matFooterRowDef="displayedColumnsH; sticky: true" class="example-first-footer-row"></mat-footer-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" id="panelI">

        <mat-expansion-panel-header>
            <mat-panel-title>
                <div id="titExp2"><b>En situación de peligro</b></div>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="example-container centrado">
            <mat-table mat-table [dataSource]="dataSourceScoresW" matSort>
                <!-- fecha Column -->
                <ng-container matColumnDef="date">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header><b> Fecha </b></mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <!-- hora Column -->
                <ng-container matColumnDef="hour">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header><b> Hora </b></mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.hour}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <!-- nombre estudiante Column -->
                <ng-container matColumnDef="nameStudent">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header><b> Alumno </b></mat-header-cell>
                    <mat-cell mat-cell *matCellDef="let row"> {{row.nameStudent}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <!-- sentimiento Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header><b> Estatus </b></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <!-- <a *ngIf="row.status==1">No resuelto</a> -->
                        <button mat-raised-button class="btn btn-info" (click)="setAdvice(row)" id="btnSetAdvice" *ngIf="row.status==1"> No resuelto</button>
                        <button mat-raised-button class="btn btn-info" (click)="setAdviceR(row)" id="btnSetAdviceR" *ngIf="row.status==0"> Ya resuelto</button>

                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsW; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsW;">
                </mat-row>

                <mat-footer-row mat-footer-row *matFooterRowDef="displayedColumnsW; sticky: true" class="example-first-footer-row"></mat-footer-row>
            </mat-table>
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->

        </div>

    </mat-expansion-panel>
</mat-accordion>