#chaPas {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#tableI {
    width: 100%;
}

#listStudents {
    width: 50%;
}

#listSF {
    list-style: none;
}

#graphS {
    width: 50%;
}

#graDon {
    margin-left: auto;
    margin-right: auto;
}

.mat-accordion {
    text-align: center;
}

#titExp,
#titExp2 {
    text-align: center;
    width: 100%;
}

#btnSetAdvice:hover,
#btnSetAdviceR:hover {
    background: #1D2B46;
}

.md-dialog-container {
    background-color: #000;
    width: 250px;
    height: 250px
}