<!--para añadir materias-->
<form [formGroup]="formFile" class="formASu">
    <!--colocar el nombre de la materia-->
    <div mat-dialog-content>
        <mat-form-field id="subject">
            <input matInput formControlName="materia" placeholder="Materia">
        </mat-form-field>
        <p></p>
        <!--colocar el nombre del grado-->
        <mat-form-field id="sGrade">
            <mat-label>Grado</mat-label>
            <mat-select formControlName="grado">
                <mat-option *ngFor="let grade of grades" [value]="grade.value">
                    {{grade.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!--colocar el profesor para dicha materia-->
        <mat-form-field id="sProfesor">
            <mat-label>Profesor</mat-label>
            <mat-select formControlName="profesor">
                <mat-option *ngFor="let profesor of profes" [value]="profesor.viewValue">
                    {{profesor.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>




    <!--botones para cancelar o guardar-->
    <div mat-dialog-actions id="btns">
        <button id="btnN" (click)="onClickNo()">No</button>
        <button id="btnY" type="submit" [disabled]="formFile.invalid" [mat-dialog-close]="formFile.value">Si</button>
    </div>

</form>