<div class="image_background">
    <!-- nav bar -->

    <app-header></app-header>

    <!--CUADRO CHATBOT-->
    <p class="title">Chatbot</p>

    <div class="background_chatbot">
        <div class="chatbotBox">

            <!--AÑADIENDO NUEVO CHATBOT-->
            <div id="chatbotStudentInterface">
                <!-- <iframe width="80%" height="658px" src="https://console.dialogflow.com/api-client/demo/embedded/4d619755-34e5-4d2f-b56a-4b0e3c5fe385"></iframe> -->
                <iframe allow="microphone;" id="intChatbot" src="https://console.dialogflow.com/api-client/demo/embedded/8f06fa44-b6e5-467c-a3ca-7d145446569a"></iframe>
            </div>

            <div id="barOpt">
                <form *ngIf="user.type=='Profesor'" class="despOpt">
                    <button [matMenuTriggerFor]="menu" class="add">
                        <i class="material-icons">
                            add
                        </i>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openDialogAddFile()">
                                <mat-icon>file_copy</mat-icon>
                                <span class="msgI">Añadir un archivo </span>
                            </button>
                    </mat-menu>
                    </button>
                </form>
                <form *ngIf="user.type=='Alumno'" class="despOpt">
                    <button [matMenuTriggerFor]="menu" class="add">
                        <i class="material-icons">
                            add
                        </i>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="openDialogAddHomework()">
                                <mat-icon>file_copy</mat-icon>
                                <span class="msgI">Enviar una Tarea</span>
                            </button>

                    </mat-menu>
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>